/*--------- reset css---------- */

input, button, p, div {
  margin: 0;
  padding:0;
  line-height: 1;
}

/* ---------- Layout css -------- */

.App {
  margin-top: 10%;
}

.Container {
  display:flex;
  margin: auto;
  height: 56px;
  width: 180px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #B24242;
}

/* ------------Button css ---------- */

.Container .Button {
  width: 60px;
  height: 56px;
  font-size: 21px;
  font-weight: 900;
  border: none;
  border-right: 1px solid #B24242;
}

.Container .Button.BtnRight {
  background: #B24242;
  color: white;
}

.Container .Button.BtnLeft {
  background: white;
  color: #B24242;
}

.Container .Button:focus {
  outline:none;
}

/* --------Input css ---------------- */

.Container input {
  width: 60px;
  height: 56px;
  font-size: 21px;
  font-weight: 900;
  border: none;
  background: #FBE8E8;
  color: #B24242;
  text-align: center;
}

.Container input:focus {
  outline: none;
}